{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Upload Application</title>
<!-- metatags-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Transitive register form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<link href="{% static 'css/style_up.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"><!--font_wesome_icons-->
<link href="//fonts.googleapis.com/css?family=Exo+2" rel="stylesheet"><!--online fonts-->
<link href="//fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"><!--online fonts-->
</head>{% csrf_token %}
<body>
	<div class="w3ls-headding">
		<h1><span>U</span>pload <span>Y</span>our <span>A</span>pplication</h1>
	</div>
	<div class="agile-main">
		<div class="agile-left">
				
		</div>
		<div class="agile-right">
			<form action="upload" method="POST" enctype="multipart/form-data">{% csrf_token %}
				<div class="agile-right-h2">
					<h2> Upload Here</h2>
				</div>
				<div class="w3l-name">
					<span><i class="fa fa-user" aria-hidden="true"></i></span>
					<input type="text" name="app_name" placeholder="App name" required=""/>
				</div>
				<div class="clear"></div>
				<div class="w3l-cpsw">
					<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
					<input type="text" name="desc" placeholder="App Description" required=""/>
				</div>

				<div class="clear"></div>
				<div class="w3l-cpsw">
					<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
					<input type="file" name="app_files" placeholder="Application Files" required=""/>
				</div>

				<div class="clear"></div>
				<div class="w3l-psw">
					<span><i class="fa fa-lock" aria-hidden="true"></i></span>
					<input type="password" name="Password" placeholder="password" required=""/>
				</div>
				<br>
				
				<div class="w3l-submit">
					<input type="submit" value="Upload Application">
				</div>
				<br>
			</form>
				<p class="wthree-p"> Thank You </p>
				<br>

				<div class="wthree-social">
					<a href="/sensor_manager/developer_profile"><i class="w3l-submit" aria-hidden="true"></i> GO BACK </a>	
				</div>

		<footer>
			{% for message in messages %}
			<h3><center><font color= "yellow", size= '4'> {{message}} </font></center> </h3>
			<br>
			{% endfor %}
		</footer>	
</body>	
</html>